@import "./common.css";
@import "./header.css";
@import "./accueil.css";
@import "./menu.css";
@import "./contact.css";
@import "./footer.css";

:root {
	--text-family-main: "Fredoka", serif;
	--text-family-alt: "Freckle Face", serif;
	--header-height: 14rem;
}

body {
	background-color: var(--col-background);
	margin-top: var(--header-height);
	min-height: calc(100dvh - var(--header-height));
	display: flex;
	flex-direction: column;
}

.main {
	flex: auto;
}

strong {
	font-weight: var(--text-medium);
}

.button {
	--col-shadow: var(--col-cyan);
	font-size: var(--text-lg);
	font-family: var(--text-family-alt);
	border-radius: var(--size-sm);
	border: 4px solid var(--col-white);
	box-shadow: 0 3px 0 3px var(--col-shadow);
	&:not(.button--sm) {
		&:hover,
		&:focus-visible {
			translate: 0 2px;
			box-shadow: 0 2px 0 2px var(--col-shadow);
		}
	}
}
.button--sm {
	font-family: var(--text-family-main);
	font-size: var(--text-md);
	border: none;
	box-shadow: none;
	border-radius: var(--size-xs);
}
.button--disabled {
	/* --col-shadow: var(--col-light-gray); */
	--btn-col: color-mix(in srgb, var(--col-white) 85%, var(--col-green));
	--btn-text-col: var(--col-green);
	translate: 0 4px;
	box-shadow: none;
}

.main {
	padding: var(--size-xxl);
	align-items: center;
}

.section {
	--padding-section-block: var(--size-xl);
	--padding-section-inline: var(--size-xxl);
	padding: var(--padding-section-block) var(--padding-section-inline);
	background-color: oklch(from var(--col-white) l c h / 33%);
	border-radius: var(--size-lg);
	box-shadow: 0 2px 0 6px var(--col-cyan);
	max-width: calc(65ch + var(--padding-section-inline) * 2);
}

.section__title {
	color: color-mix(in srgb, var(--col-red) 50%, var(--col-dark));
}